body {
  background-color: white;
}
.topbar {
  text-align: center;
  font-size: larger;
  font-family: monospace;
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px;
}

form {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.inp {
  width: 50%;
  border-radius: 2px;
  border-style: groove;
  border-color: black;
}

.add {
  margin-left: 20px;
  width: 15%;
  border-radius: 2px;
  border-style: groove;
  border-color: black;
  font-family: monospace;
  font-size: large;
  color: black;
}

.todo {
  margin-top: 50px;
}
h3 {
  margin: 10px;
  font-size: large;
  font-family: monospace;
}

.listext {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
}
.ok {
  border-bottom: 1.5px solid black;
  margin-right: 16px;
  margin-bottom: 4px;
}
ol {
  list-style-type: none;
  padding-left: 0px;
}
.ch {
  width: 30px;
  margin-right: 5px;
}

button {
  color: #dc3545;
  border: none;
  border-radius: 2px;
}

.tk {
  text-align: end;
  margin-right: 10%;
  margin-bottom: 10px;
}

.tig {
  text-align: end;
  margin-right: 10%;
  margin-bottom: 10px;
}

.Completedtasks {
  margin-top: 40px;
}
